html {
   background-color: white;
   margin:0;
   padding:0;
   height:100%;
}

body {
	width: 100%;
	height: 100%;
    margin: 0px auto;
}


/*Header*/

header {
    height: 1%;
    position: fixed 0px 0px;
}

nav {
    height: 3%;
}

#linksbar {
    margin: 0;
}

#linksbar a:hover {
    text-shadow: 1px 0px 0px black;
}

#linksbar ul {
    list-style: none;
    background-color: white;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#linksbar li {
    font-family: 'Molengo', Georgia, Times, serif;
    height: 100%;
    line-height: 100%;
    font-size: 18px;
    display: inline-block;
    margin: 10px;
    padding-right: 30px;
    padding-left: 10px;
    text-align: left;
    border-right: 1px solid black;
}

#linksbar a {
    text-decoration: none;
    color: black;
}

#linksbar ul li:last-child {
    border: none;
}

#general {
    float: left;
    width: 80%;
    overflow: hidden;
}

#userbar {
    float: right;
    width: 20%;
    overflow: hidden;
}


/*Home*/

.home {
    text-align: center;
    display: block;
    padding-top: 8%;
    padding-bottom: 8%;
    background-image: url("http://www.aranyhaletterem.eu/wp-content/uploads/revslider/home1-slider/slide1_bg.jpg");
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

.home #search {
    border: none;
    height: 25px;
    padding: 25px;
    width: 40%;
    border-radius: 25px;
    text-indent: 20px;
    font-size: 25px;
    cursor: pointer;
    transition: background .3s ease-out, width .3s ease-out;
    background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAXVJREFUeNqkk80rhFEUxq+v8ZF8JGxlplnZKNnYzAZh42Nja4U/gNiYslJ2ypookr/BCAv2ZpryGUpYMIkVGc+t563j7d6TmTn1673ve5/3uffcc64xfyMCZkEK5MAPuAc7oM8UGN3gGuQVtkDtf8x6wYf48QDMg2mwyl3KuYhmVi12ZtMcBUlwDq5AlJo1YZrUDGeEcAycifcv0CO0+/z+CVp8himRyhLHj2AStIW0HSyU1Uz5DF8omANpjieUjLLUrLgmy0Ejx2+s4Dc4UQxzfNa7JiuZnk0lDgZAE3ft20CU42ffiptM4Y7V1GJEFCzhEyWEaF0xawe31F2CCm3lXWG6BzpDaQ4LM3vGg+LsnVEn2ifP1rDVPBVdEJjZvu1njy5qplVgOXQFJRcs2hB4F9835FUscxg38/C7QAN4AsdspRrw6rjLR2CccwXHgpJB3BQZ2x7Tm2INbcqHDsOMKSFa2Y+B2QOImRIjxrNLB2a/AgwAw3yFRFLxpoQAAAAASUVORK5CYII=) no-repeat 15px 15px;
}

.home #search:focus {
    background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAXVJREFUeNqkk80rhFEUxq+v8ZF8JGxlplnZKNnYzAZh42Nja4U/gNiYslJ2ypookr/BCAv2ZpryGUpYMIkVGc+t563j7d6TmTn1673ve5/3uffcc64xfyMCZkEK5MAPuAc7oM8UGN3gGuQVtkDtf8x6wYf48QDMg2mwyl3KuYhmVi12ZtMcBUlwDq5AlJo1YZrUDGeEcAycifcv0CO0+/z+CVp8himRyhLHj2AStIW0HSyU1Uz5DF8omANpjieUjLLUrLgmy0Ejx2+s4Dc4UQxzfNa7JiuZnk0lDgZAE3ft20CU42ffiptM4Y7V1GJEFCzhEyWEaF0xawe31F2CCm3lXWG6BzpDaQ4LM3vGg+LsnVEn2ifP1rDVPBVdEJjZvu1njy5qplVgOXQFJRcs2hB4F9835FUscxg38/C7QAN4AsdspRrw6rjLR2CccwXHgpJB3BQZ2x7Tm2INbcqHDsOMKSFa2Y+B2QOImRIjxrNLB2a/AgwAw3yFRFLxpoQAAAAASUVORK5CYII=) no-repeat 15px 15px;
    width: 60%;
    outline: none;
    cursor: text;
}

.home h1 {
    text-shadow: 0px 2px 4px black;
    color: white;
    font-family: 'Molengo', Georgia, Times, serif;
    font-size: 90px;
}

.home h2 {
    text-shadow: 0px 2px 4px black;
    color: white;
   font-family: 'Molengo', Georgia, Times, serif;
    font-size: 50px;
}

.home #searchBar button{
	background-color: white;
	font-family: 'Molengo', Georgia, Times, serif;
	font-size: 30px;
	text-shadow: 0px 2px 4px black;
	width: 300px;
	border-radius: 30px;
	border:30px;
	border-color: black;
    padding: 5px;
    margin: 5px;
}


/*Footer*/

footer {

    height: 4em;
    font-size: 15px;
    float: left;
    margin: 0;
    padding: 0;
}


/*Login page*/

#login-page {
    display: block;
    padding-top: 5%;
    padding-bottom: 5%;
    background-image: url("https://getsetjetsetdotcom.files.wordpress.com/2014/09/snh-hd-0009_web-res.jpg");
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

#login-page input {
   font-family: 'Molengo', Georgia, Times, serif;
    outline: 0;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 15px;
}

#loginform label {
    margin-top: 5px;
    margin-bottom: 5px;
}

#loginform {
    position: relative;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 30px;
}

#loginform li {
    font-family: 'Molengo', Georgia, Times, serif;
    height: 100%;
    font-size: 18px;
    margin: 10px;
}

#loginform ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#loginform h1 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    text-shadow: 0px 2px 4px black;
    color: white;
    text-align: center;
}

#loginform a {
    text-decoration: none;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: white;
}

#loginform a::hover {
    text-decoration: underline;
}

#loginform ul {
    list-style: none;
}
#loginform input#login {
    cursor:pointer;
    margin-left: 4em;
    margin-top: 0;
    padding-bottom: 10em;
    border: none;
    cursor:pointer;
    background: url("https://cdn0.iconfinder.com/data/icons/simply-orange-1/128/Artboard_9svg-128.png") no-repeat 1px 1px;
    transform: scale(0.5,0.5);
}


/*Register page*/

#register-page {
    display: block;
    padding-top: 5%;
    padding-bottom: 5%;
    background-image: url("https://getsetjetsetdotcom.files.wordpress.com/2014/09/snh-hd-0009_web-res.jpg");
     background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

#register-page input {
    font-family: 'Molengo', Georgia, Times, serif;
    outline: 10px;
    width: 100%;
    border: 5px;
    margin: 0 0 10px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 15px;
}

#registerform label {
    margin-top: 5px;
    margin-bottom: 5px;
}

#registerform {
    position: relative;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 30px;
}

#registerform li {
    font-family: 'Molengo', Georgia, Times, serif;
    height: 100%;
    font-size: 18px;
    margin: 10px;
}

#registerform ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#registerform h1 {
    font-size: 45px;
    margin-top: 0;
    margin-bottom: 10px;
    text-shadow: 0px 2px 4px black;
    color: white;
    text-align: center;
}

#registerform a {
    text-decoration: none;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: white;
}

#registerform a::hover {
    text-decoration: underline;
}

#registerform ul {
    list-style: none;
}
#registerform input#register {
    cursor:pointer;
    margin-left: 4em;
    margin-top: 0;
    padding-bottom: 10em;
    border: none;
    cursor:pointer;
    background: url("https://cdn0.iconfinder.com/data/icons/simply-orange-1/128/Artboard_9svg-128.png") no-repeat 1px 1px;
    transform: scale(0.5,0.5);
}

/*Lists Restaurants */

.restpage {
    /*background-image: url("https://wallpaperscraft.com/image/board_black_line_texture_background_wood_55220_2560x1600.jpg");
    background-image: url("https://t4.ftcdn.net/jpg/00/77/36/59/240_F_77365972_lYmH87jTg4FNrzv1gF8ZWliQJwxsRua3.jpg");
    */
    background-color:white;
    background-size: 50% 60%;
    background-repeat: repeat;
    background-attachment: fixed;
    padding-top: 5%;
    padding-bottom: 15%;
    text-shadow: 0px 2px 2px white;
    color: black;
    font-family: 'Molengo', Georgia, Times, serif;
}

.restpage h1 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0px;
    padding-left: 5px;
    text-align: center;
}

.restpage ul {
  font-family: 'Molengo', Georgia, Times, serif;
    height: 100%;
    line-height: 100%;
    font-size: 18px;
    margin: 10px;
    padding-right: 30px;
    padding-left: 25px;
    text-align: left;
}
.restpage #n_r{
border: none;
padding-top:2.5em;
padding-bottom:2.5em;
cursor:pointer;
background: url("https://lh3.googleusercontent.com/5aI-VClrZ3nTgDzjd7MKeX1R_vHC_Ks8nJksNADBJraNaXfeph9lT1cDKWcyk9lO_LY=w50") no-repeat 1px 1px;
margin-left: 80%;
color: black;
font-size: 20px;
font-weight: bold;
}

#details {
   font-family: 'Molengo', Georgia, Times, serif;
    outline: 10px;
    width: 100%;
    border: 5px;
    margin: 0 0 10px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 15px;
}

#infores {
    padding-bottom: 6em;
    padding-top: 0em;
    padding-left: 3em;
}

#total {
    display: inline-flex;
    margin-top: 0em;
    margin-left: 1em;
}

#informations {
    display: block;
    margin-top: 5em;
    font-weight: bold;
}

#infores img {
    border: 1px solid black;
    border-radius: 50%;
    cursor:pointer;
}



/*Rest page*/

.oncerestpage {
    /*background-image: url("https://wallpaperscraft.com/image/board_black_line_texture_background_wood_55220_2560x1600.jpg");
    */
    background-color: white;
    background-size: cover;
    padding-top: 5%;
    padding-bottom: 15%;
    text-shadow: 0px 2px 2px gray;
    color: black;
   font-family: 'Molengo', Georgia, Times, serif;
}

.oncerestpage h1 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0px;
    padding-left: 5px;
    text-align: center;
}

.oncerestpage ul {
   font-family: 'Molengo', Georgia, Times, serif;
    height: 100%;
    line-height: 100%;
    font-size: 15px;
    margin: 10px;
    padding-right: 30px;
    padding-left: 50px;
    text-align: left;
}

.oncerestpage h4 {
    font-family: 'Molengo', Georgia, Times, serif;
    height: 100%;
    line-height: 100%;
    font-size: 18px;
    margin: 10px;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 50px;
    text-align: left;
    
}


#r_informations input {
    font-family: 'Molengo', Georgia, Times, serif;
    outline: 10px;
    width: 8em;
    border: 15px;
    margin-left: 87%;
    margin-right: 1em;
    margin-top: 0em;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 15px;
    cursor:pointer;
    background-image: url("https://wallpaperscraft.com/image/board_black_line_texture_background_wood_55220_2560x1600.jpg");
    color: white;
}

#r_image {
    text-align: center;
    padding: 2em;
}

#r_image img {
    border: 1px solid black;
    border-radius: 50%;
}

#review {
    padding-left: 25em;
    padding-top: 2em;
}

#review input {
    font-family: "Roboto", sans-serif;
    outline: 10px;
    width: 10%;
    border: 5px;
    margin: 0 0 5px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 15px;
    cursor:pointer;
}

#reviews {
    display: inline;
}

#reviews h3 {
    padding-left: 1em;
    font-size: 20px;
}

#reviews h2 {
    padding-left: 3em;
    font-size: 25px;
}

#reviews form {
    display: inline-block;
}

/* Edit Restaurant informations*/

#restaurant_edit{
  /*background-image: url("https://getsetjetsetdotcom.files.wordpress.com/2014/09/snh-hd-0009_web-res.jpg");
  background-position: 40% 100%;
  background-size: cover;
  background-attachment: fixed;*/
  background-color: ghostwhite;
  margin-top: 5em;
  font-size: 14px;
  line-height: 24px;
  text-shadow: 0px 2px 2px slategray;
  color: black;
  font-family: 'Molengo', Georgia, Times, serif;
  padding: 10px;
}
#restaurant_edit h2{
    text-shadow: 0px 2px 4px black;
    color: black;
    font-family: 'Molengo', Georgia, Times, serif;
    font-size: 30px;
}

#restaurant_edit form{
    padding-left: 10%;
    padding-top: 2em;
}

#restaurant_edit #r_image {
    text-align: center;
    padding: 2em;
    padding-top: 6em;
}

#restaurant_edit #r_image img {
    border: 1px solid black;
    border-radius: 50%;
}

#restaunrat_edit form ul{
   padding-top: 3em;
}

#restaurant_edit form input{
  margin-top: 1em;
  margin-bottom: 2em;
  margin-left: 1em;
  padding-left: 1em;
  width: 30%;
  display: block;
  border: 1px solid #999;
  height: 30px;
  border-radius: 15px;
 
}
#restaurant_edit #buttonSave{
margin-left: 7em;
padding-bottom: 10em;
border: none;
cursor:pointer;
background: url("https://cdn0.iconfinder.com/data/icons/simply-orange-1/128/Artboard_9svg-128.png") no-repeat 1px 1px;
transform: scale(0.5,0.5);
align-self: center;
}

/*User*/

#my_profile {
    display: block;
    background-image: url("https://getsetjetsetdotcom.files.wordpress.com/2014/09/snh-hd-0009_web-res.jpg");
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

#my_profile h1 {
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 20px;
    text-shadow: 0px 2px 4px black;
    color: white;
    text-align: left;
    padding-left: 8em;
}

#my_profile ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-shadow: 0px 2px 4px black;
    color: white;
    padding-left: 5em;
}

#my_profile h4 {
    font-family: 'Molengo', Georgia, Times, serif;
    height: 100%;
    line-height: 100%;
    font-size: 18px;
    margin: 10px;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 50px;
    text-align: left;
    text-shadow: 0px 2px 4px black;
    color: white;
   
}
#my_profile input {
    cursor:pointer;
    background: url("https://cdn1.iconfinder.com/data/icons/hawcons/32/698983-icon-136-document-edit-128.png") no-repeat 10px 10px;
    transform: scale(0.3,0.3);
    padding-top: 5em;
    padding-bottom: 5em;
    margin-left: 87%;
    border:none;
    }

#my_profile #rev{
    display:inline-flex;
    padding-top:0;
    margin-top:0;
}

#my_profile h2{
    padding:1em;
    padding-left: 3em;
    margin:0;
    text-align: left;
    text-shadow: 0px 2px 4px black;
    color: white;
}

#my_profile #rev h4{
    padding:0;
    margin:0;
    text-align: left;
}

#my_profile #rev ul{
    padding-top:0;
    margin-top:0;
    padding-left:1em;
}
#my_profile .div{
    margin:2em;
    display: flex;
    flex-direction: row;
}


/*Edit User informations*/
#user_edit{
    display: block;
    padding-top: 5%;
    padding-bottom: 5%;
    background-image: url("https://getsetjetsetdotcom.files.wordpress.com/2014/09/snh-hd-0009_web-res.jpg");
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    text-shadow: 0px 2px 4px black;
    color:white;
}
#user_edit h1{
    text-shadow: 0px 2px 4px black;
    color: white;
    font-family: 'Molengo', Georgia, Times, serif;
    text-align: center;
    font-size: 45px;
}

#user_edit form{
    position: relative;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 30px;
}

#user_edit form ul{
   list-style: none;
    margin: 0;
    padding: 0;
   font-family: 'Molengo', Georgia, Times, serif;
    height: 100%;
    font-size: 18px;
    margin: 10px;
}

#user_edit form input{
   outline: 10px;
    width: 100%;
    border: 5px;
    margin: 0 0 10px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 15px; 
}
#user_edit #buttonSave{
margin-left: 3em;
padding-bottom: 7em;
border: none;
cursor:pointer;
background: url("https://cdn0.iconfinder.com/data/icons/simply-orange-1/128/Artboard_9svg-128.png") no-repeat 1px 1px;
transform: scale(0.5,0.5);
align-self: center;
}

/*Add new rest*/

#add_rest {
    display: block;
    padding-top: 2%;
    background-image: url("http://wearableworld.co/wp-content/uploads/2016/05/vegetables-wooden-background-croppedx2.jpg");
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    color:black;
    font-family: 'Molengo', Georgia, Times, serif;
}

#add_rest input {
  font-family: 'Molengo', Georgia, Times, serif;
    outline: 10px;
    width: 100%;
    border: 5px;
    margin: 0 0 10px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 15px;
}

#add_rest label {
    margin-top: 5px;
    margin-bottom: 5px;
}

#add_rest h1 {
    font-size: 45px;
    margin-top: 1em;
    text-shadow: 0px 2px 4px white;
    color: black;
    text-align: left;
    margin-left: 35%;
}

#addRestaurant {
    position: relative;
    max-width: 360px;
    margin-bottom: 0;
    margin-left: 35%;
    padding-top:0;
    padding-bottom: 0;
}

#addRestaurant li {
    font-family: 'Molengo', Georgia, Times, serif;
    height: 100%;
    font-size: 18px;
}

#addRestaurant ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#addRestaurant a {
    text-decoration: none;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: black;
}

#addRestaurant a::hover {
    text-decoration: underline;
}

#addRestaurant ul {
    list-style: none;
}
#addRestaurant input#add {
    margin-left: 3em;
    margin-top: 0em;
    padding-bottom: 7em;
border: none;
cursor:pointer;
background: url("https://cdn0.iconfinder.com/data/icons/simply-orange-1/128/Artboard_9svg-128.png") no-repeat 1px 1px;
transform: scale(0.5,0.5);
align-self: center;
}


/*About page*/
#about{
    display: block;
    padding-top: 8%;
    padding-bottom: 8%;
    background-color: white;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    text-shadow: 0px 0px 1px black;
    color: black;
    font-family: 'Molengo', Georgia, Times, serif;
}

#about h1{
    font-size: 60px;
    padding-left: 30%;
}

#about p{
    font-size: 20px;
    padding-top: 3em;
    padding-left: 1em;
}

#about ul {
    list-style: none;
    display: list-item;
}

#about li {
    font-family: 'Molengo', Georgia, Times, serif;
    height: 100%;
    font-size: 18px;
    padding-left: 10%;
}
#about_inf{
    padding-right: 20em;
    display: list-item;
    list-style: none;
}

#about_image{
    display: inline-flex;
}

#home 
