html {
  background-color:white;
  height: 100%;
  width: 100%;
}


body {
  width: 100%;
  margin: 0px auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
}

/*Header*/
header {
  height: 10%;
}

.logs ul{
  list-style: none;
  background-color:white;
	width: 100%;
	margin: 0px;
  padding: 0px;
}

.logs li{
  font-family: 'Oswald', sans-serif;
	height: 100%;
	line-height: 100%;
	font-size: 18px;
	display: inline-block;
	margin:10px;
  padding-right: 30px;
  padding-left: 10px;
	text-align: left;
  border-right: 1px solid black;
  }

.logs ul  li:nth-last-child(2){
    border:none;
}

.logs ul  li:nth-last-child(3){
    border:none;
}

.logs ul > li:nth-last-of-type(-n+2) {
    float:right;
}

.logs a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}


.logs a:hover{
    text-decoration: underline;
}

body .reg{
  text-align: center;
}

/*Home*/

.home{  
 text-align: center;
 display: block;
 padding-top: 8%;
 padding-bottom: 8%;
 background-image: url("http://www.aranyhaletterem.eu/wp-content/uploads/revslider/home1-slider/slide1_bg.jpg");
 background-size: cover;
 background-position: bottom;
 background-attachment: fixed;
}

.home #search {
  border: none;
  height: 25px;
  padding: 25px;
  width: 40%;
  border-radius: 25px;
  text-indent: 20px;
  font-size: 25px;
  cursor: pointer;
  transition: background .3s ease-out, width .3s ease-out;
  background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAXVJREFUeNqkk80rhFEUxq+v8ZF8JGxlplnZKNnYzAZh42Nja4U/gNiYslJ2ypookr/BCAv2ZpryGUpYMIkVGc+t563j7d6TmTn1673ve5/3uffcc64xfyMCZkEK5MAPuAc7oM8UGN3gGuQVtkDtf8x6wYf48QDMg2mwyl3KuYhmVi12ZtMcBUlwDq5AlJo1YZrUDGeEcAycifcv0CO0+/z+CVp8himRyhLHj2AStIW0HSyU1Uz5DF8omANpjieUjLLUrLgmy0Ejx2+s4Dc4UQxzfNa7JiuZnk0lDgZAE3ft20CU42ffiptM4Y7V1GJEFCzhEyWEaF0xawe31F2CCm3lXWG6BzpDaQ4LM3vGg+LsnVEn2ifP1rDVPBVdEJjZvu1njy5qplVgOXQFJRcs2hB4F9835FUscxg38/C7QAN4AsdspRrw6rjLR2CccwXHgpJB3BQZ2x7Tm2INbcqHDsOMKSFa2Y+B2QOImRIjxrNLB2a/AgwAw3yFRFLxpoQAAAAASUVORK5CYII=) no-repeat 15px 15px;
}

.home #search:focus {
	background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAXVJREFUeNqkk80rhFEUxq+v8ZF8JGxlplnZKNnYzAZh42Nja4U/gNiYslJ2ypookr/BCAv2ZpryGUpYMIkVGc+t563j7d6TmTn1673ve5/3uffcc64xfyMCZkEK5MAPuAc7oM8UGN3gGuQVtkDtf8x6wYf48QDMg2mwyl3KuYhmVi12ZtMcBUlwDq5AlJo1YZrUDGeEcAycifcv0CO0+/z+CVp8himRyhLHj2AStIW0HSyU1Uz5DF8omANpjieUjLLUrLgmy0Ejx2+s4Dc4UQxzfNa7JiuZnk0lDgZAE3ft20CU42ffiptM4Y7V1GJEFCzhEyWEaF0xawe31F2CCm3lXWG6BzpDaQ4LM3vGg+LsnVEn2ifP1rDVPBVdEJjZvu1njy5qplVgOXQFJRcs2hB4F9835FUscxg38/C7QAN4AsdspRrw6rjLR2CccwXHgpJB3BQZ2x7Tm2INbcqHDsOMKSFa2Y+B2QOImRIjxrNLB2a/AgwAw3yFRFLxpoQAAAAASUVORK5CYII=) no-repeat 15px 15px;
	width: 60%;
	outline: none;
	cursor: text;
}


h1 {
  text-shadow: 0px 2px 4px black;
	color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 90px;
}

h2 {
  text-shadow: 0px 2px 4px black;
	color: white;
  font-family: 'Tangerine', serif;
  font-size: 50px;
}

footer{
  height: 0;
  font-size: 10px;
  float: right;
  position: absolute;
  margin: 0;
  padding: 0;
}

